.mat-card-simples {
  max-width: 300px;
  background-color: aliceblue;
  margin-top: 10px;
}

.fonte {
  font-family: monospace;
  font-size: 25px;
  display: flex;
  justify-content: start;
  margin-top: 5px;
}

.mat-form-principal {
  margin-left: 5px;
}
